*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea
/ModuleSeparate.iml
/.gradle
/ModuleA/libs
/ModuleA/ModuleA.iml
/ModuleA/build
/ModuleB/libs
/ModuleB/ModuleB.iml
/ModuleB/build
/commonlibrary/libs
/commonlibrary/commonlibrary.iml
/commonlibrary/build
